@import "bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  
}
.big-div{
  display: flex;
  flex-direction: row;
}

#sec-div{
  width: 35%;
  place-items: center center;
}


.landing-image{
  width: 65%;
  height: 100vh ;
}

@media only screen and (max-width: 500px){
  .landing-image{
    display: none 
  }
  #sec-div{
    width: 100%;
    place-items: center center;
  }
}

.sign-in-form{
  width: 90%;
}

.label-div {
  display: flex;
  flex-direction: row;

}

#btn-button{
  display: flex;
  justify-content: right;

}
